body{
    margin: 0;
}
#container{
    background-color:#C9F0FF;
    height: 100vh;
    width:100%;
}
#canvas{
    width:70vw;
    height:70vh;
    background-color: white;
    margin: 0 auto;
    position: relative;
    top:10px;
}
#banner{
    width:100%;
    height:80px;
    background-color:#00BAFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text{
    font-family:"Helvetica Neue";
    font-weight:bold;
    font-size:60px;
    color:white;
    -webkit-text-stroke: 2px black;
}